services:

  postgres:
    image: {{ postgres_image }}:{{ postgres_version }}
    container_name: postgres
    restart: unless-stopped
    networks:
      - postgres
    volumes:
      - /opt/postgres/data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ postgres_db }}"

  pgbouncer:
    image: {{ pgbouncer_image }}:{{ pgbouncer_version }}
    container_name: pgbouncer
    restart: unless-stopped
    networks:
      - postgres
      - autoponuda
    ports:
      - "127.0.0.1:{{ pgbouncer_port }}:5432"
    environment:
      DB_USER: "{{ postgres_user }}"
      DB_PASSWORD: "{{ postgres_password }}"
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: "{{ postgres_db }}"
      POOL_MODE: "{{ pgbouncer_pool_mode }}"
      MAX_CLIENT_CONN: "{{ pgbouncer_max_client_conn }}"
      DEFAULT_POOL_SIZE: "{{ pgbouncer_default_pool_size }}"
      AUTH_TYPE: scram-sha-256
    depends_on:
      - postgres

networks:
  postgres:
    driver: bridge
  autoponuda:
    external: true

volumes:
  postgres_data:
