services:

  node-exporter:
    image: prom/node-exporter:{{ node_exporter_version }}
    container_name: node-exporter
    restart: unless-stopped
    # host network mode gives node-exporter full visibility into host network interfaces
    # and allows Prometheus to reach it via host.docker.internal
    network_mode: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--web.listen-address=127.0.0.1:{{ node_exporter_port }}"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
